<div class="result-content explanations">
  <dl v-show="explanations.length > 0">
      <template v-for="explanation in explanations">
          <dt>
              <code>{{explanation.code.trim()}}</code> is {{a(explanation.name)}} <dfn>{{explanation.name}}</dfn>.
              <span class="explanation-doc-link">[<a v-bind:href="explanation.link" target="_blank">Docs</a>]</span>
          </dt>
          <dd v-html="markdown(explanation.text)" class="markdown">
          </dd>
      </template>
  </dl>
  <section v-show="explanations.length === 0" class="markdown">
    <p>
      🔬 This feature explain new and less-known syntax (e.g. <code>ref struct</code> or <code>@var</code>).<br>
      Your code either does not have any rare syntax, or the syntax is too new and not explained yet.
    </p>
    <p>
      If you would like something explained, please report at <a href="https://github.com/ashmind/language-syntax-explanations/issues">language-syntax-explanations/issues</a>.
    </p>
  </section>
</div>