<app-select v-model="target" class="option-target-language option online-only" v-bind:id="id">
  <optgroup label="Decompile">
    <option v-bind:value="targets.csharp">C#</option>
    <option v-show="target === targets.vb" v-bind:value="targets.vb">Visual Basic</option>
    <option v-bind:value="targets.il">IL</option>
    <option v-bind:value="targets.asm">JIT Asm</option>
  </optgroup>
  <optgroup label="Other">
    <option v-bind:value="targets.ast">Syntax Tree</option>
    <option v-bind:value="targets.verify">Verify Only</option>
    <option v-bind:value="targets.explain">Explain</option>
  </optgroup>
  <optgroup label="Experimental">
    <option v-bind:value="targets.run">Run</option>
  </optgroup>
</app-select>