<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Try Roslyn</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="theme-color" content="#4684ee" v-bind:content="status.color">

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,{build:favicon-svg}">
    <link rel="icon" type="image/png" href="favicon-256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="favicon-196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16.png" sizes="16x16">
    <app-favicon-manager default-color="#4684ee" v-bind:color="status.color"></app-favicon-manager>

    <!-- build:css -->
    <!-- endbuild -->
  </head>
  <body data-mobile-codemirror-fullscreen-class="mobile-editor-focus">
    <main class="root-status-{{status.name}}">
      <div class="section-group">
        <section class="code">
          <header>
            <button class="mobile-menu-button"></button>
            <h1>Code</h1>
            <div class="languages-and-modes">
              <div class="select-wrapper option-language option _unsupported">
                <select v-model="options.language">
                  <option value="csharp">C#</option>
                  <option value="vbnet">VB.NET</option>
                </select>
              </div>

              <div class="select-wrapper option-mode option _unsupported">
                <select v-model="options.mode">
                  <option value="regular">Standard</option>
                  <option value="script">Script</option>
                </select>
              </div>
            </div>
            <div class="offline-only">[connection lost, reconnecting…]</div>

            <div class="select-wrapper option-branch option _unsupported">
              <select v-model="branch">
                <option v-bind:value="null">Release (NuGet)</option>
                <optgroup label="{{group.name}}" v-for="group in branchGroups">
                  <option v-for="branch in group.branches" v-bind:value="branch">{{branch.name}} ({{branch.commits[0].date | app-date 'd mmm yyyy'}})</option>
                </optgroup>
              </select>
            </div>
            
            <app-mobile-shelf class="mobile-menu"
                              toggle=".code .mobile-menu-button"
                              container=".code"
                              open-class="mobile-menu-open"></app-mobile-shelf>
          </header>
          <div class="content">
            <app-mirrorsharp v-bind:value="code"
                             v-bind:server-options="serverOptions"
                             v-on:text-change="code = $arguments[0]()"
                             v-on:slow-update-result="applyUpdateResult"
                             v-on:server-error="applyServerError"
                             v-on:connection-change="applyConnectionChange"></app-mirrorsharp>
            <!--app-codemirror v-bind:value="code"
                            v-bind:mode="codeMirrorModes[options.language]"
                            v-bind:lint="lintCodeAsync"
                            v-bind:options="{
                              lineNumbers: true,
                              indentUnit: 4,
                              gutters: ['CodeMirror-linenumbers','CodeMirror-lint-markers']
                            }"></app-codemirror-->
          </div>
        </section>

        <section v-if="branch" class="info-only branch-info non-code">
          <header>
            <h1>Branch {{branch.name}}, last commit</h1>
          </header>
          <div class="content">
            <div>
              <a href="https://github.com/dotnet/roslyn/commit/{{branch.commits[0].hash}}" target="_blank">{{branch.commits[0].hash}}</a>
              at {{branch.commits[0].date | app-date 'dd mmm yyyy'}}
              by {{branch.commits[0].author}}
            </div>
            <div class="commit-message">{{branch.commits[0].message | app-trim}}</div>
          </div>
        </section>
      </div>

      <div class="section-group results" v-bind:class="{loading: loading}">
        <section v-show="result.success" class="decompiled">
          <header>
            <button class="mobile-menu-button"></button>
            <h1>Decompiled</h1>
            <!--span class="loader-container" data-rv-show="loading" data-ng-include="'loader/loader.html'">
            </span-->

            <div class="select-wrapper option-target-language option">
              <select v-model="options.target">
                <option value="csharp">C#</option>
                <option value="vbnet">VB.NET</option>
                <option value="il">IL</option>
              </select>
            </div>

            <div class="select-wrapper option-optimizations option">
              <select v-model="options.release">
                <option v-bind:value="false">Debug</option>
                <option v-bind:value="true">Release</option>
              </select>
            </div>
            <app-mobile-shelf class="mobile-menu"
                              toggle=".decompiled .mobile-menu-button"
                              container=".decompiled"
                              open-class="mobile-menu-open"></app-mobile-shelf>
          </header>
          <div class="content">
            <app-loader></app-loader>
            <app-codemirror v-bind:value="result.decompiled"
                            v-bind:mode="codeMirrorModes[options.target]"
                            v-bind:options="{ readOnly: true, indentUnit: 4 }"></app-codemirror>
          </div>
        </section>

        <section class="errors" v-show="result.errors.length > 0">
          <header>
            <h1>Errors</h1>
            <div class="select-wrapper spacer"><select></select></div>
          </header>
          <div class="content">
            <app-loader></app-loader>
            <ul>
              <li v-for="error in result.errors">
                <app-mirrorsharp-diagnostic v-bind:model="error" severity="error"></app-mirrorsharp-diagnostic>
              </li>
            </ul>
          </div>
        </section>

        <section class="warnings" v-show="result.success && result.warnings.length > 0">
          <header>
            <h1>Warnings</h1>
          </header>
          <div class="content">
            <ul>
              <li v-for="warning in result.warnings">
                <app-mirrorsharp-diagnostic v-bind:model="warning" severity="warning"></app-mirrorsharp-diagnostic>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>
    <footer>
      Built by Andrey Shchekin (<a href="http://twitter.com/ashmind">@ashmind</a>). See <a href="http://github.com/ashmind/TryRoslyn">TryRoslyn</a> on GitHub.
    </footer>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- build:js -->
    <!-- endbuild -->

    <!--script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1782671-10', 'tryroslyn.azurewebsites.net');
      ga('send', 'pageview');

    </script-->
  </body>
</html>