root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false

[*.cs]
csharp_new_line_before_open_brace = none

[*.{html,config,csproj,targets,props}]
indent_size = 2