
.env
launchSettings.json

*.user
*.pubxml

\!*
.vs/
node_modules/
bin/
obj/
/source/WebApp/public/
/source/WebApp/storybook-static/
/source/Native.Profiler/x64/
__diff_output__/
.ionide/
.idea/
.tye/