[submodule "source/Tests/TestData/language-syntax-explanations"]
	path = source/Tests/TestData/language-syntax-explanations
	url = https://github.com/ashmind/language-syntax-explanations.git
[submodule "source/#external/SourcePath"]
	path = "source/#external/SourcePath"
	url = https://github.com/ashmind/SourcePath.git
[submodule "source/#external/mirrorsharp"]
	path = "source/#external/mirrorsharp"
	url = https://github.com/ashmind/mirrorsharp
[submodule "source/#external/Mobius.ILasm"]
	path = "source/#external/Mobius.ILasm"
	url = https://github.com/ashmind/Mobius.ILasm
[submodule "source/#external/mirrorsharp-codemirror-6-preview"]
	path = "source/#external/mirrorsharp-codemirror-6-preview"
	url = https://github.com/ashmind/mirrorsharp.git
