@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css';

@import 'imports/forms.less';

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: #2e8bcc;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

main {
    display: flex;
    flex: 1 0 auto;

    > * {
        flex: 1 0 50%;
        width: 0;
    }
}

main + footer {
    padding: 5px;
    padding-left: 7px;

    font-family: 'Roboto Condensed', sans-serif;
    background-color: #eee;

    font-size: 90%;
    text-align: right;

    a {
        color: inherit;
    }
}

header, footer {
    flex: 0 0 auto;
}

header .spacer {
    visibility: hidden;
    width: 1px;
}

.section-group {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;

    header {
        position: relative;
        display: flex;
        padding: 5px;
        padding-left: 7px;
        color: #fff;
        background-color: @primary-color;
        font-family: 'Roboto Condensed', sans-serif;
    }

    h1 {
        display: inline;
        margin-top: auto;
        margin-bottom: auto;

        font-size: 100%;
        font-weight: normal;
    }

    .content {
        position: relative;
        flex: 1 0 auto;
    }
}

.results section header {
    border-left: 1px solid #fff;
}

.results section .content {
    border-left: 1px solid #aaa;
}

.option-language {
    display: inline-block;
}

.option-language, .option-target-language {
    margin-left: 10px;
    margin-right: 10px;
}

.option-branch, .option-optimizations {
    margin-left: auto;
}

.loading .content > :not(.loader) {
    opacity: 0.5;
}

.code, .decompiled {
    flex-shrink: 0;
    flex-grow: 1;
}

section.info-only {
    header {
        background-color: #bbb;
    }

    .content {
        font-size: 90%;
    }
}

.branch-info .content {
    padding: 10px;
}

.branch-info,
.warnings {
    flex-shrink: 0;
    max-height: 20%;

    .content {
        overflow: auto;
        flex-shrink: 1;
    }
}

.errors header,
.root-status-error .code header {
    background-color: @error-color;
}

.warnings header {
    background-color: @warning-color;
}

.root-status-offline  {
    .code, .decompiled, .warnings {
        header {
            background-color: @offline-color;
        }
    }
}

.commit-message {
    white-space: pre-line;
}

.diagnostic {
    white-space: pre-wrap;
}

.errors, .warnings {
    .content {
        .code-text();
    }

    li {
        padding: 5px 10px;
    }
}

.errors {
    flex: 1 1 auto;
}

@import 'imports/loader.less';
@import 'imports/mobile.less';
@import 'imports/codemirror.less';
@import 'imports/offline.less';

._unsupported {
    pointer-events: none;
    opacity: 0.1;
}