@import 'common.less';

@mobile-max-width-for-menu: 799px;

.if-mobile-menu(@rules) {
    @media screen and (max-width: @mobile-max-width-for-menu) {
        @rules();
    }
}

.mobile-menu-button, .mobile-menu {
    display: none;
}

.mobile-menu {
    position: absolute;
    background-color: var(--header-color);

    .root-status-error & {
        background-color: var(--error-header-color);
    }

    .root-status-offline & {
        background-color: var(--offline-header-color);
    }
}

.if-mobile-menu({
    .branch-details {
        max-height: 90px;
    }

    .mobile-menu-button {
        margin-right: 5px;
        background: linear-gradient(
            to bottom,
            transparent 0%, transparent 10%,
            white 10%, white 20%,
            transparent 20%, transparent 45%,
            white 45%, white 55%,
            transparent 55%, transparent 80%,
            white 80%, white 90%,
            transparent 90%, transparent 100%
        );
        .header-icon-button();
    }

    .top-section {
        & > header {
            z-index: 10;
            position: static;

            .option {
                display: none;
            }
        }

        .header-block {
            display: none;
        }
    }

    .code,
    .root-status-default .result,
    .root-status-error .top-section-group-results {
        position: relative;
    }

    .result .CodeMirror {
        font-size: 80%;
    }

    .mobile-menu-open {
        @menu-width: 40%;
        @header-height: 1.7em;

        .mobile-menu {
            display: block;
            left: 0;
            top: @header-height;
            width: @menu-width;
            bottom: 0;
            z-index: 5;
        }

        .CodeMirror {
            left: @menu-width;
        }

        .ast,
        .root-status-error & .errors .content {
            padding-left: @menu-width;
        }

        header .option,
        .header-block {
            display: flex;
            position: absolute;
            left: 8px;
            width: ~"calc(@{menu-width} - 16px)";
            max-width: auto;
            margin-left: 0;
            z-index: 15;
        }

        .select-wrapper select {
            width: 100%;
        }

        @row-top-margin: @header-height+0.5em;
        @row-margin-multiplier: 2em;
        @row-separator-extra: 0.5em;
        .option-language, .option-target-language {
            top: @row-top-margin + 0*@row-margin-multiplier;
        }

        .option-branch, .option-optimizations {
            top: @row-top-margin + 1*@row-margin-multiplier;
        }

        .gist-manager {
            top: @row-top-margin + 2*@row-margin-multiplier;
            border-top: 1px solid var(--header-separator-color);
            padding-top: @row-separator-extra;
        }

        .gist-create {
            margin-left: auto;
            margin-right: 0;
        }
    }

    main + footer {
        font-size: 70%;
    }
});

@media screen and (orientation: portrait),
       screen and (max-width: 499px) and (max-height: 499px) {
    main {
        flex-direction: column;
        flex-basis: auto;

        > * {
            width: auto;
        }
    }

    .top-section-group-results section header {
        border-left: none;
    }
}

@media screen and (max-width: 499px) and (max-height: 499px) {
    body {
        height: auto;
        min-height: 100%;
    }

    .top-section-group-code,
    .top-section-group-results {
        min-height: 200px;
    }
}