.CodeMirror-infotip {
    position: absolute;
    z-index: 5000;
    padding: 2px 5px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}