@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
a {
  color: #2E8BCC;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
  height: 0;
}
main > * {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
main + footer {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 5px;
  padding-left: 7px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #eee;
  font-size: 90%;
  text-align: right;
}
main + footer a {
  color: inherit;
}
section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
section > * {
  width: 100%;
}
section header {
  position: relative;
  display: -webkit-flex;
  display: flex;
  padding: 5px;
  padding-left: 7px;
  color: #fff;
  background-color: #4684ee;
}
section header h1 {
  font-family: 'Roboto Condensed', sans-serif;
}
section header select {
  font-family: 'Roboto Condensed', sans-serif;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none;
  padding-right: 10px;
}
section header .select-wrapper {
  position: relative;
  border: 1px solid #fff;
}
section header .select-wrapper::after {
  content: '▾';
  position: absolute;
  right: 2px;
  top: 0;
  pointer-events: none;
}
section header > .select-wrapper {
  position: absolute;
  margin-top: -2px;
}
section header option {
  color: #000;
}
section header a {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
section h1 {
  display: inline;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
section header,
section footer {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
section .content {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
}
section.info-only header {
  background-color: #bbb;
}
section.info-only .content {
  font-size: 90%;
}
section.collapsible:not(.expanded) header {
  background-color: #aaa;
}
section.collapsible.expanded .content {
  overflow: auto;
  max-height: 800px;
  transition: max-height 0.5s;
}
section.collapsible:not(.expanded) .content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}
section.collapsible header {
  cursor: pointer;
}
section.collapsible header::after {
  content: '>';
  font-family: Consolas, Menlo, Monaco, monospace;
  position: absolute;
  right: 5px;
  vertical-align: middle;
  -webkit-transform: rotate(-90deg);
  transition: 0.2s all linear;
}
section.collapsible.expanded header::after {
  -webkit-transform: rotate(90deg);
}
section.code {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
section.non-code {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.non-code .content {
  padding: 10px;
}
.collapsible:not(.expanded) .content {
  padding: 0;
}
.section-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.languages-and-modes {
  position: absolute;
  margin-top: -2px;
  white-space: nowrap;
  margin-left: 10px;
}
.languages-and-modes > * {
  display: inline-block;
}
.option-mode {
  margin-left: 5px;
}
.option-branch {
  right: 5px;
}
.option-target-language {
  margin-left: 8px;
}
.option-optimizations {
  right: 5px;
}
.code {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.commit-message {
  white-space: pre-line;
  overflow-y: auto;
  max-height: 15vh;
}
/* Syntax Tree ------ */
.syntax-tree {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.syntax-tree .content {
  font-size: 80%;
}
.syntax-tree ol {
  padding-left: 1em;
}
.syntax-tree li {
  list-style-type: none;
}
.syntax-tree li::before {
  content: '\00a0';
  font-family: Consolas, Menlo, Monaco, monospace;
  margin-right: 5px;
}
.syntax-tree li.with-children::before {
  content: '>';
}
/* ------------------ */
.results section header {
  border-left: 1px solid #fff;
}
.results section .content {
  border-left: 1px solid #aaa;
}
.results .decompiled {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.results .errors {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.results .warnings {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.results .errors header,
.failed .code header {
  background-color: #dc3912;
}
.results .warnings header {
  background-color: #ff9900;
}
textarea,
.CodeMirror,
.errors .content ul,
.warnings .content ul {
  font-family: Consolas, Menlo, Monaco, monospace;
  line-height: 1.2;
}
.warnings .content ul {
  max-height: 15vh;
  overflow-y: auto;
}
textarea,
.CodeMirror {
  position: absolute;
  left: 0;
  right: 5px;
  height: 100%;
}
.results .CodeMirror {
  left: 5px;
}
.errors ul,
.warnings ul {
  margin: 0;
  padding: 0;
}
.errors li,
.warnings li {
  list-style-type: none;
  padding: 5px 10px;
}
/*.CodeMirror-gutters {
  background-color: transparent;
  border: 0;
}

.CodeMirror-linenumber {
  color: #eee;
}*/
.CodeMirror-linenumber {
  padding-left: 0;
}
.loader-container {
  position: absolute;
  top: 4px;
  bottom: 4px;
  margin-left: 80px;
}
.loader {
  position: absolute;
  height: calc(100% - 6px);
  width: calc(100% - 10px);
  margin-left: 10px;
  top: 3px;
  bottom: 3px;
  left: 0;
  right: 0;
}
.mobile-menu-button,
.mobile-menu {
  display: none;
}
@media screen and (orientation: portrait) and (max-device-width: 1200px), screen and (orientation: portrait) and (max-width: 1200px) {
  main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  main > * {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .results section header {
    border-left: none;
  }
  .info-only {
    display: none;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 600px), screen and (orientation: portrait) and (max-width: 600px) {
  .mobile-menu-button {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: linear-gradient(to bottom, white, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);
    padding: 0;
    border: none;
  }
  input[type=button].mobile-menu-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  section {
    position: relative;
  }
  section header {
    z-index: 10;
    position: static;
  }
  section header .option {
    display: none;
  }
  .languages-and-modes {
    position: static;
  }
  .mobile-menu-open .mobile-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: #4684ee;
    z-index: 5;
  }
  .mobile-menu-open .content {
    padding-left: 40%;
  }
  .mobile-menu-open .CodeMirror {
    padding-left: calc(40% + 25px + 28px);
  }
  .mobile-menu-open header .option {
    display: block;
    position: absolute;
    left: 8px;
    width: calc(40% - 16px);
    margin-left: 0;
    z-index: 15;
  }
  .mobile-menu-open .select-wrapper select {
    width: 100%;
  }
  .mobile-menu-open .option-language,
  .mobile-menu-open .option-target-language {
    top: 2.2em;
  }
  .mobile-menu-open .option-mode,
  .mobile-menu-open .option-optimizations {
    top: 4.2em;
  }
  .mobile-menu-open .option-branch {
    top: 6.4em;
  }
  main + footer {
    font-size: 70%;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 600px) {
  body.mobile-editor-focus section.mobile-editor-focus {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  body.mobile-editor-focus section:not(.mobile-editor-focus) {
    display: none;
  }
  body.mobile-editor-focus section header .option {
    display: none;
  }
}
