@import 'common.less';

textarea, .CodeMirror {
    .code-text();
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.CodeMirror-linenumber {
    padding-left: 0;
}