<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Declaration of Bundle Transformer configuration section group -->
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" />
      <section name="sassAndScss" type="BundleTransformer.SassAndScss.Configuration.SassAndScssSettings, BundleTransformer.SassAndScss" />
      <section name="typeScript" type="BundleTransformer.TypeScript.Configuration.TypeScriptSettings, BundleTransformer.TypeScript" />
      <section name="coffeeScript" type="BundleTransformer.CoffeeScript.Configuration.CoffeeScriptSettings, BundleTransformer.CoffeeScript" />
      <section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax" />
      <section name="yui" type="BundleTransformer.Yui.Configuration.YuiSettings, BundleTransformer.Yui" />
      <section name="closure" type="BundleTransformer.Closure.Configuration.ClosureSettings, BundleTransformer.Closure" />
      <section name="uglify" type="BundleTransformer.UglifyJs.Configuration.UglifySettings, BundleTransformer.UglifyJs" />
      <section name="packer" type="BundleTransformer.Packer.Configuration.PackerSettings, BundleTransformer.Packer" />
      <section name="csso" type="BundleTransformer.Csso.Configuration.CssoSettings, BundleTransformer.Csso" />
      <section name="webGrease" type="BundleTransformer.WG.Configuration.WgSettings, BundleTransformer.WG" />
      <section name="clean" type="BundleTransformer.CleanCss.Configuration.CleanSettings, BundleTransformer.CleanCss" />
    </sectionGroup>
    <!-- /Declaration of Bundle Transformer configuration section group -->
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
      <section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core enableTracing="false">
      <css defaultMinifier="YuiCssMinifier" usePreMinifiedFiles="true" disableNativeCssRelativePathTransformation="false">
        <minifiers>
          <add name="KryzhanovskyCssMinifier" type="BundleTransformer.Csso.Minifiers.KryzhanovskyCssMinifier, BundleTransformer.Csso" />  
          <add name="YuiCssMinifier" type="BundleTransformer.Yui.Minifiers.YuiCssMinifier, BundleTransformer.Yui" />
        </minifiers>
      </css>
      <js defaultMinifier="UglifyJsMinifier" usePreMinifiedFiles="true">
        <minifiers>
          <add name="UglifyJsMinifier" type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" />
        </minifiers>
      </js>
    </core>
    <uglify>
      <jsEngine name="MsieJsEngine" />
    </uglify>
    <csso>
      <jsEngine name="MsieJsEngine" />
    </csso>
  </bundleTransformer>
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
    <core>
			<engines>
        <add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
      </engines>
		</core>
  </jsEngineSwitcher>
</configuration>