<!DOCTYPE html>
<html>
  <head data-theme-color-manager-bind="status.color">
    <meta charset="UTF-8">
    <title>SharpLab</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="theme-color" content="#4684ee">
    <meta name="description" content="C#/VB/F# compiler playground (doesn't run code). Not a shark lab." />

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,{build:favicon-svg}">
    <link rel="icon" type="image/png" href="favicon-256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="favicon-196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16.png" sizes="16x16">

    <!-- build:css -->
    <!-- endbuild -->
  </head>
  <body data-mobile-codemirror-fullscreen-class="mobile-editor-focus" class="loading" data-cloak="loading">
    <main v-bind:class="'root-status-' + status.name">
      <div class="section-group">
        <section class="code">
          <header>
            <button class="mobile-menu-button" v-app-class-toggle="{ target: '.code', class: 'mobile-menu-open' }"></button>
            <h1>Code</h1>
            <div class="select-wrapper option-language option">
              <select v-model="options.language">
                <option v-bind:value="languages.csharp">C#</option>
                <option v-bind:value="languages.vb">Visual Basic</option>
                <option v-bind:value="languages.fsharp">F#</option>
              </select>
            </div>
            <div class="offline-only">[connection lost, reconnecting…]</div>

            <div class="select-wrapper option-branch option">
              <select v-model="branch">
                <option v-bind:value="null">Release (NuGet)</option>
                <optgroup v-bind:label="group.name" v-for="group in branchGroups">
                  <option v-for="branch in group.branches" v-bind:value="branch">{{branch.name}} ({{formatDate(branch.commits[0].date, 'd mmm yyyy')}})</option>
                </optgroup>
              </select>
            </div>

            <div class="mobile-menu"></div>
          </header>
          <div class="content">
            <app-code-edit v-bind:initial-text="lastLoadedCode"
                           v-bind:service-url="serviceUrl"
                           v-bind:server-options="serverOptions"
                           v-bind:highlighted-range="highlightedCodeRange"
                           v-bind:execution-flow="result.type === 'run' && result.value ? result.value.flow : null"
                           v-on:text-change="code = arguments[0]()"
                           v-on:slow-update-result="applyUpdateResult"
                           v-on:server-error="applyServerError"
                           v-on:connection-change="applyConnectionChange"></app-code-edit>
          </div>
        </section>

        <section v-if="branch" class="info-only branch-info non-code">
          <header>
            <h1>Branch {{branch.name}}, last commit</h1>
          </header>
          <div class="content">
            <div>
              <a v-bind:href="'https://github.com/dotnet/roslyn/commit/' + branch.commits[0].hash" target="_blank">{{branch.commits[0].hash}}</a>
              at {{formatDate(branch.commits[0].date, 'dd mmm yyyy')}}
              by {{branch.commits[0].author}}
            </div>
            <div class="commit-message">{{branch.commits[0].message.trim()}}</div>
          </div>
        </section>
      </div>

      <div class="section-group results" v-bind:class="{loading: loading}">
        <section v-show="result.success" class="result">
          <header>
            <button class="mobile-menu-button" v-app-class-toggle="{ target: '.result', class: 'mobile-menu-open' }"></button>
            <h1>Results</h1>

            <div class="select-wrapper option-target-language option">
              <select v-model="options.target">
                <option v-if="features.run" v-bind:value="targets.run">[Run]</option>
                <optgroup label="Decompiled">
                  <option v-bind:value="targets.csharp">C#</option>
                  <option v-bind:value="targets.vb">Visual Basic</option>
                  <option v-bind:value="targets.il">IL</option>
                  <option v-bind:value="targets.asm">JIT Asm</option>
                </optgroup>
                <optgroup label="Other">
                  <option v-bind:value="targets.ast">Syntax Tree</option>
                </optgroup>
              </select>
            </div>

            <div class="select-wrapper option-optimizations option">
              <select v-model="options.release">
                <option v-bind:value="false">Debug</option>
                <option v-bind:value="true">Release</option>
              </select>
            </div>
            <div class="mobile-menu"></div>
          </header>
          <div class="content">
            <div class="loader"></div>
            <app-run-view v-if="lastResultOfType.run"
                          v-show="result.type === 'run'"
                          v-bind:output="lastResultOfType.run.value ? lastResultOfType.run.value.output : []"></app-run-view>
            <app-code-view v-if="lastResultOfType.code"
                           v-show="result.type === 'code'"
                           v-bind:value="lastResultOfType.code.value"
                           v-bind:language="options.target"></app-code-view>
            <app-ast-view class="ast"
                          v-if="lastResultOfType.ast"
                          v-show="result.type === 'ast'"
                          v-bind:roots="lastResultOfType.ast.value"
                          v-on:item-hover="applyAstHover"></app-ast-view>
          </div>
        </section>

        <section class="errors" v-show="result.errors.length > 0">
          <header>
            <h1>Errors</h1>
            <div class="select-wrapper spacer"><select></select></div>
          </header>
          <div class="content">
            <div class="loader"></div>
            <ul>
              <li v-for="error in result.errors">
                <app-diagnostic v-bind:model="error" severity="error"></app-diagnostic>
              </li>
            </ul>
          </div>
        </section>

        <section class="warnings collapsed" v-show="result.success && result.warnings.length > 0">
          <header>
            <button class="expander" v-app-class-toggle="{ target: '.warnings', class: 'collapsed' }"></button>
            <h1>Warnings</h1>
          </header>
          <div class="content">
            <ul>
              <li v-for="warning in result.warnings">
                <app-diagnostic v-bind:model="warning" severity="warning"></app-diagnostic>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>
    <footer>
      Built by Andrey Shchekin (<a href="http://twitter.com/ashmind">@ashmind</a>). See <a href="http://github.com/ashmind/SharpLab">SharpLab</a> on GitHub.
    </footer>

    <script type="text/x-template" id="app-ast-view-item">
      <span v-if="typeof item === 'string'" class="ast-item-wrap ast-item-value">
        <span class="ast-item-type"></span>
        {{renderValue(item, 'value')}}
      </span>
      <span v-else v-bind:class="'ast-item-wrap ast-item-' + item.type">
        <button v-if="item.children"></button>
        <span class="ast-item-type" v-bind:title="item.type"></span>
        <span class="ast-item-property" v-if="item.property">{{item.property}}:</span>
        <span v-if="item.value !== undefined" class="ast-inline-value">{{renderValue(item.value, item.type)}}</span>
        <span class="ast-item-kind">{{item.kind}}</span>
      </span>
    </script>

    <!-- build:js -->
    <!-- endbuild -->
    <script>
      (function() {
        var host = window.location.host;
        if (host !== 'sharplab.io' && host !== 'tryroslyn.azurewebsites.net') return;

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1782671-10', host);
        ga('send', 'pageview');
      })();
    </script>
  </body>
</html>