<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- must be in reverse order because InsertBefore reorders them -->
        <rule xdt:Transform="InsertBefore(*)" name="Https">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule xdt:Transform="InsertBefore(*)" name="Canonical">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^tryroslyn\.azurewebsites\.net$" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/mirrorsharp.*" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://sharplab.io/{R:1}" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>