name: WebApp (JS) - Edge

on:
  push:
    paths:
    - '.github/workflows/webapp-edge.yml'
    - 'source/WebApp/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    # https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012/5
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: source/WebApp
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
          lfs: 'true'

      - run: git lfs checkout

      - uses: actions/setup-node@v1
        with:
          node-version: '16.14.2'

      - run: 'git show ${{ github.sha }} --format="::set-output name=version_number::%cd" --date=format:%Y-%m-%d-%H%M --no-patch'
        id: version

      - name: Run npm ci (mirrorsharp)
        run: npm ci
        working-directory: source/#external/mirrorsharp/WebAssets

      - name: Run npm run build (mirrorsharp)
        run: npm run build
        working-directory: source/#external/mirrorsharp/WebAssets

      - run: npm ci

      - run: npm run build-ci
        env:
          NODE_ENV: production
          SHARPLAB_WEBAPP_BUILD_VERSION: ${{ steps.version.outputs.version_number }}

      - run: npm run test

      - run: npm run build-storybook
        env:
          NODE_ENV: test
      - run: npm run test-storybook-ci

      - name: "[Failure] Run actions/upload-artifact@v2 (diff output)"
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: __diff_output__
          path: source/WebApp/app/**/__image_snapshots__/__diff_output__/**/*.*
          if-no-files-found: ignore

      - name: "[Failure] Run npm run test-storybook-ci (update)"
        run: npm run test-storybook-ci
        if: failure()
        env:
          SHARPLAB_TEST_UPDATE_SNAPSHOTS: 'true'

      - name: "[Failure] Run actions/upload-artifact@v2 (updated snapshots)"
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: '__image_snapshots__ (updated)'
          path: source/WebApp/app/**/__image_snapshots__/**/*.*
          if-no-files-found: ignore

      - uses: actions/upload-artifact@v2
        with:
          name: WebApp
          path: source/WebApp/WebApp.zip
          if-no-files-found: error

      - uses: actions/create-release@v1
        if: github.ref == 'refs/heads/main'
        id: create_release
        with:
          tag_name: webapp-release-${{ steps.version.outputs.version_number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-release-asset@v1
        if: github.ref == 'refs/heads/main'
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./source/WebApp/WebApp.zip
          asset_name: WebApp.zip
          asset_content_type: application/zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-to-edge:
    name: Deploy (Edge)
    needs: build
    if: github.ref == 'refs/heads/main'
    environment: edge-webapp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: WebApp

      - run: Expand-Archive WebApp.zip ./WebApp
        shell: pwsh

      - run: Rename-Item ./WebApp/latest latest-edge
        shell: pwsh

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: "Run azure/CLI@v1: az storage blob upload-batch"
        uses: azure/CLI@v1
        with:
          azcliversion: 2.30.0
          inlineScript: |
            az storage blob upload-batch --account-name slpublic -d assets -s WebApp

      - run: Invoke-RestMethod -Method POST -Uri 'https://edge.sharplab.io/assets/reload' -Authentication Bearer -Token $(ConvertTo-SecureString $env:SHARPLAB_ASSETS_RELOAD_TOKEN -AsPlainText)
        shell: pwsh
        env:
          SHARPLAB_ASSETS_RELOAD_TOKEN: ${{ secrets.SHARPLAB_ASSETS_RELOAD_TOKEN }}